body {
	margin: 0;
	padding: 0;
}

.container {
    display: flex;
	flex-direction: column;
	width: 500px;
	align-items: center;
    justify-content: center;    
}

table td {
	border: 2px solid rgb(0, 0, 0);
	width: 100px;
	height: 100px;
}

button {
	height: 30px;
	background-color: rgb(111, 226, 111);
	border-radius: 10px;
	color: rgb(0, 0, 0);
}

p {
	font-weight: bold;
}

nav {
	height: 90px;
	background-color: grey;
	margin-bottom: 20px;
}

.title, .author {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* FOOTER */

.footer {
	height: 10%;
	display: flex;
	background-color: gray;
}

.social-media {
	width: 100px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}